In [64]:
! source ../venv/bin/activate

In [65]:
! which python

/Users/JMECKEL/development/projects/python/udacity_boarding_kiosk/venv/bin/python

In [66]:
import sys
print(sys.executable)

/Users/JMECKEL/development/projects/python/udacity_boarding_kiosk/venv/bin/python

In [67]:

import json
import pandas as pd
import sys

In [68]:
manifest_file = "../starter/flight-manifest-csv/FlightManifest_withDoB.csv"

In [69]:
df = pd.read_csv(manifest_file)
df['DoBValidation'] = False
df['NameValidation'] = False
df['BoardingPassValidation'] = False
print(df)

   Passanger Name Carrier   Flight No.     Class           From       To  \
0    Sameer Kumar       UA         234   Economy  San Francisco  Chicago
1  Radha S. Kumar       UA         234   Economy  San Francisco  Chicago
2      James Webb       UA         234  Business  San Francisco  Chicago
3    Libby Herold       UA         234  Business  San Francisco  Chicago
4   James Jackson       UA         234   Economy  San Francisco  Chicago
5  Avkash Chauhan       UA         234   Economy  San Francisco  Chicago

             Date Baggage Seat Gate Boarding Time  Ticket No. Date of Birth  \
0  April 20, 2022     YES  34A   G1  10:00 AM PST    34236746    1970-12-15
1  April 20, 2022     YES  34B   G1  10:00 AM PST    34236747    1970-12-15
2  April 20, 2022      No   1A   G1  10:00 AM PST    34236748    1970-12-15
3  April 20, 2022      No   3D   G1  10:00 AM PST    34236749    1970-12-15
4  April 20, 2022     YES  25B   G1  10:00 AM PST    34236750    1970-12-15
5  April 20, 2022      No  20A   G1  10:00 AM PST    34236751    1970-12-15

   DoBValidation  NameValidation  BoardingPassValidation
0          False           False                   False
1          False           False                   False
2          False           False                   False
3          False           False                   False
4          False           False                   False
5          False           False                   False

In [70]:
with open('./results/id.json', 'r') as f:
    data_from_id = json.load(f)
print(f"Data from Id:\n{data_from_id}")

Data from Id:
{'first_name': 'James', 'last_name': 'Webb', 'dob': '1970-12-15'}

In [71]:
with open('./results/boarding_pass.json', 'r') as f:
    data_from_boarding_pass = json.load(f)
print(f"Data from Boarding-Pass:\n{data_from_boarding_pass}")

Data from Boarding-Pass:
{'first_name': 'James', 'last_name': 'Webb', 'from': 'San Francisco', 'to': 'Chicago', 'gate': 'G1', 'fno': '234', 'sno': '1A', 'carrier': 'UA', 'class': 'B', 'date': 'April 20, 2022'}

In [72]:
first_name = data_from_id['first_name']
last_name = data_from_id['last_name']

In [73]:
if first_name != data_from_boarding_pass['first_name']:
    print("First Name on ID does not match Boarding Pass")
    exit(1)

In [74]:
if last_name != data_from_boarding_pass['last_name']:
    print("Last Name on ID does not match Boarding Pass")
    exit(1)

In [75]:
matching_rows = df[(df['Passanger Name'] == f"{first_name} {last_name}")]

if matching_rows.empty:
    print("No matching rows found in the manifest.")
    exit(1)
else:
    first_row = matching_rows.iloc[0]
    print(first_row)
    df.loc[matching_rows.index[0] , 'NameValidation'] = True
    print(f"\n\b{df}")

Passanger Name                James Webb
Carrier                               UA
Flight No.                           234
Class                           Business
From                       San Francisco
To                               Chicago
Date                      April 20, 2022
Baggage                               No
Seat                                  1A
Gate                                  G1
Boarding Time               10:00 AM PST
Ticket No.                      34236748
Date of Birth                 1970-12-15
DoBValidation                      False
NameValidation                     False
BoardingPassValidation             False
Name: 2, dtype: object

   Passanger Name Carrier   Flight No.     Class           From       To  \
0    Sameer Kumar       UA         234   Economy  San Francisco  Chicago
1  Radha S. Kumar       UA         234   Economy  San Francisco  Chicago
2      James Webb       UA         234  Business  San Francisco  Chicago
3    Libby Herold       UA         234  Business  San Francisco  Chicago
4   James Jackson       UA         234   Economy  San Francisco  Chicago
5  Avkash Chauhan       UA         234   Economy  San Francisco  Chicago

             Date Baggage Seat Gate Boarding Time  Ticket No. Date of Birth  \
0  April 20, 2022     YES  34A   G1  10:00 AM PST    34236746    1970-12-15
1  April 20, 2022     YES  34B   G1  10:00 AM PST    34236747    1970-12-15
2  April 20, 2022      No   1A   G1  10:00 AM PST    34236748    1970-12-15
3  April 20, 2022      No   3D   G1  10:00 AM PST    34236749    1970-12-15
4  April 20, 2022     YES  25B   G1  10:00 AM PST    34236750    1970-12-15
5  April 20, 2022      No  20A   G1  10:00 AM PST    34236751    1970-12-15

   DoBValidation  NameValidation  BoardingPassValidation
0          False           False                   False
1          False           False                   False
2          False            True                   False
3          False           False                   False
4          False           False                   False
5          False           False                   False

In [76]:
if first_row.get("Date of Birth") == data_from_id['dob']:
    print("Date of Birth matches")
    df.loc[matching_rows.index[0], 'DoBValidation'] = True
    print(f"\n\b{df}")
else:
    print("Date of Birth does not match")
    exit(1)

Date of Birth matches

   Passanger Name Carrier   Flight No.     Class           From       To  \
0    Sameer Kumar       UA         234   Economy  San Francisco  Chicago
1  Radha S. Kumar       UA         234   Economy  San Francisco  Chicago
2      James Webb       UA         234  Business  San Francisco  Chicago
3    Libby Herold       UA         234  Business  San Francisco  Chicago
4   James Jackson       UA         234   Economy  San Francisco  Chicago
5  Avkash Chauhan       UA         234   Economy  San Francisco  Chicago

             Date Baggage Seat Gate Boarding Time  Ticket No. Date of Birth  \
0  April 20, 2022     YES  34A   G1  10:00 AM PST    34236746    1970-12-15
1  April 20, 2022     YES  34B   G1  10:00 AM PST    34236747    1970-12-15
2  April 20, 2022      No   1A   G1  10:00 AM PST    34236748    1970-12-15
3  April 20, 2022      No   3D   G1  10:00 AM PST    34236749    1970-12-15
4  April 20, 2022     YES  25B   G1  10:00 AM PST    34236750    1970-12-15
5  April 20, 2022      No  20A   G1  10:00 AM PST    34236751    1970-12-15

   DoBValidation  NameValidation  BoardingPassValidation
0          False           False                   False
1          False           False                   False
2           True            True                   False
3          False           False                   False
4          False           False                   False
5          False           False                   False